.login-container {
    font-family:'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../p3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-content{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 0 30px rgb(109, 104, 84);
    padding: 40px;
}

.dos{
    color:#fca311;
    font-size: 18px;
    display: flex;
    margin: 10px;
    align-items: center;
}

.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.submit-button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0%;
    background: #fca311;
    color:  rgb(68, 68, 68);
    font-size: 15px;

}

.registro-container{
    color: gray;
}

.reg{
    color:orange;
}

.label-error{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:red;
}

.label-alert{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: red;
}
.home-container{
    color: black;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1{
    font-size: 35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    color: #fca311;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 50px;
    
}