.reg-container{
    font-family:'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../p1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: orange;
}

main{
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px rgba(197, 112, 0, 0.466);
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
  }