.header{
    align-items: center;
    background: rgba(72, 78, 97, 1);
    height: 12vh;
}

h1{
    font-family: 'Josefin Slab', serif;   
    margin: 10px 0px;
    color: #f7f5f6;
    text-align: center;
}
h3{
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Josefin Slab', serif;   
    margin: 10px 0px;
    color: #f7f5f6;
    text-align: center;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
      /* background: rgba(#111, 0.9); */
}
nav ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
}
nav li {
    float: left;
}
nav a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    /* color: darken(#fff, 7%); */
}
  
.logo {
    height: 75px;
    float: left;
}

body{
background-image: url('./Assets/img1.png');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}


.logout{
    margin-right: -2%;
    background-color: rgba(255, 255, 255, 0);
    background-color: #f7f5f6;
    -webkit-mask: url("./Assets/logout.svg") no-repeat center;
    mask: url('./Assets/logout.svg') no-repeat center;
    color: #f7f5f6;
}

.logo{
    margin-right: -2%;
    background-color: rgba(255, 255, 255, 0);
    background-color: #f7f5f6;
    -webkit-mask: url("./Assets/book.svg") no-repeat center;
    mask: url('./Assets/book.svg') no-repeat center;
    color: #f7f5f6;

}

.home-container{
    font-family: 'Josefin Slab', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #f7f5f6;
}

.home-container h1{
    font-size: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content{
    width: 50%;
    height: 60%;
    font-size: 20px;
    background: rgba(72, 78, 97, 0.6);
    display:flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 20%;
    left: 25%;
}

button{
    margin: 0px 0px 25px 0px;
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    border-radius: 5px;

}
.espbutton{
    margin: 0px 0px 25px 0px;
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.saveButton{
    margin: 25px;
    width: 20%;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.buscar{
    margin-top: 25px;
    width: 28%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.buscar2{
    width: 28%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.espbutton:hover{
    color: #f7f5f6;
}
.login-container {
    font-family: 'Josefin Slab', serif;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #f7f5f6;
    background-image: url('./Assets/img1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-content{
    width: 50%;
    height: 60%;
    font-size: 20px;
    background: rgba(72, 78, 97, 0.6);
    display:flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 20%;
    left: 25%;
}

.login-content input{
    background-color: rgba(72, 78, 97, 0.6);
    color:#f7f5f6;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.login-container input::placeholder{
    color:rgb(114, 173, 175);
    font-size: 18px;
}

.login-content label{
    color:#f7f5f6;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.submit-button-container button{
    width: 100%;
    margin: 35px 0px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 0%;
    color:  #f7f5f6;
    background-color: rgba(72, 78, 97, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    border-radius: 5px;
}

.alert-gray{
    color: #f7f5f6;
}

.click-cont{
    color:black;
    font-weight: bold;
}

.label-alert{
    justify-content: center;
    font-size: 14px;
    color: red;
}

.login-content h1{
    font-size: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.regular-style{
    width: 100%;
    height: 35px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: cadetblue;
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    outline: none;
}

.regular-style::placeholder{
    font-size: 15px;
    color: rgb(82, 82, 82);
    opacity: 0.8;
}


.input-error{
    width: 100%;
    height: 35px;

    border: 1px solid red;
    color: red;
    background: rgba(50, 54, 70, 0.8);

    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
}

.input-error::placeholder{
    color: red;
    font-size: 15px;
}

.box-div{
    position: relative;
    width: 60%;
    height: 60%;
    font-size: 20px;
    background: rgba(72, 78, 97, 0.6);
    display:flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    top: 20%;
    left: 20%;
}

.form-container{
    color: white;
    position: relative;
    width: 75%;
    height: 75%;
    background: rgba(72, 78, 97, 0.6);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 20px;
    top: 15%;
    left: 12.5%;
}

.box-div p{
    color: #f7f5f6;
    font-family: 'Josefin Slab', serif;
    margin: 20px;
    text-shadow: 1px 1px 4px #000000;
    text-align: center;
}

.box-div h2{
    color: #f7f5f6;
    font-family: 'Josefin Slab', serif;
    margin: 20px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.box-div input{
    text-align: center; 
    color: #ffffff;
    margin: 25px 0px 0px 0px;
    background-color: rgb(173, 173, 173);
    border-style: solid;
    border-width: 0px;
    border-color: #000;
    box-shadow: 1px 1px 4px #000000;
}
.ttitle{
    font-family: 'Josefin Slab', serif;
}
.inputs{
    margin: 25px 0px;
    position: relative;
    width: 60%;
    height: 60%;
    font-size: 20px;
    background: rgba(50, 54, 70, 0.8);
    display:flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    top: 20%;
    left: 20%;
    color: #f7f5f6;
}

.inputs h2{
    color: #f7f5f6;
}

.inputs input, select{
    margin: 25px 25px;
    background-color: #fff
}

